<!DOCTYPE html>
<html>
  <head>
    <%# <title>VeryBrite</title> %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property='og:title' content='Verybrite'/>
    <%# <meta property='og:image' content='https://very-brite.herokuapp.com/assets/images/verybrite_og_img.png'/> %>
    <meta property='og:image' content=<%= image_url('verybrite_og_img.png') %>/>
    <meta property='og:description' content='A single-page full-stack clone of Eventbrite where users can browse event categories, register for and like events.
'/>
    <meta property='og:url' content='https://very-brite.herokuapp.com/#/'/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.rectangles = "<%= image_url('rectangles.jpg')%>"
      window.concert_genre = "<%= image_url('concert_genre.jpg')%>"
      window.outdoor_party = "<%= image_url('outdoor_party.jpg')%>"
      window.show_image = "<%= image_url('show_image.jpg')%>"
      window.index_header = "<%= image_url('index_header.jpg')%>"
      
    </script>
    <%= favicon_link_tag asset_path('eventbrite_favicon.png') %>
    <script src="https://kit.fontawesome.com/7108d8c451.js" crossorigin="anonymous">
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
