<!DOCTYPE html>
<html>
  <head>
    <%# <title>VeryBrite</title> %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      
      window.outdoor_party = "<%= image_url('outdoor_party.jpg')%>"
      window.show-image = "<%= image_url('show-image.jpg')%>"
      window.index_header = "<%= image_url('index_header.jpg')%>"
    </script>
    <script src="https://kit.fontawesome.com/7108d8c451.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
